{% extends 'tasks_app/layout.html' %}


{% block title %}О сайте{% endblock %}


{% block content %}

<div class="features">
    <h1>О нас</h1>
 <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    <div class="col">
<div class="card">
  <img src="static/tasks_app/img/it_im.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Разработчик</h5>
    <p class="card-text">Бекэнд, фронтенд, тесты, исправления багов на мне</p>
    <a href="https://t.me/onnnyxxxq" target="_blank" class="btn btn-primary">Телеграмм</a>
  </div>
</div>

</div>
         <div class="col">
<div class="card">
  <img src="static/tasks_app/img/cat.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Главный Директор</h5>
    <p class="card-text">Я главный директор! По вем вопросам идите нахуй!!!</p>
    <a href="https://t.me/pirozhochek0" target="_blank" class="btn btn-primary">Телеграмм</a>
  </div>
</div>
</div>


{% endblock %}