{% extends 'tasks_app/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<style>
.row-cols-1 > * {
    padding: 4px;
}
</style>
<div class="features">
  <h1>Для чего нужен сайт ?</h1>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    <div class="col">
             <div class="card">

  <img src="static/tasks_app/img/job_search.png" class="card-img-top"  alt="logo">
  <div class="card-body">
    <p class="card-text">Ну во-первых: Для удобного поиска работы/подработки</p>
  </div>
</div>
  </div>
        <div class="col">
             <div class="card">

  <img src="static/tasks_app/img/people.jpg" class="card-img-top"  alt="logo">
  <div class="card-body">
    <p class="card-text">Во-вторых: Для удобного размещения задания</p>
  </div>
</div>
  </div>
        <div class="col">
             <div class="card">

  <img src="static/tasks_app/img/beta-testing.png" class="card-img-top"  alt="logo">
  <div class="card-body">
    <p class="card-text">В-третьих: Сайт в beta testing</p>
  </div>
</div>


    </div>



</div>


{% endblock %}
