{% extends 'tasks_app/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<!-- Здесь ваша прежняя разметка -->
<style>
.profile-picture {
      height: 53px;
      width: 53px;
      background: linear-gradient(90deg, #ff9966, #ff5e62);
      z-index: 10;
      box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
      border-radius: 100%;
      margin-right: 15px;
    }

.profile-card{
  background: #3a62db;
  border-radius: 50px;
  align-items: center;
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}




a {
    text-decoration: none; /* Убираем подчеркивание ссылок */
    color: #333;
}
h2 {
    text-align: center;
}
</style>
<h2>Лучшие пользователи:</h2>
<div class="features">
    {% for profile in profiles %}
        <div class="profile-card">
            <a href="{% url 'user_profile' profile.user.username %}">
            <img src="{{ profile.profile_picture.url }}" alt="Profile picture" class="profile-picture">
            <div class="user-info">
                <h3>
                        {{ profile.first_name }} {{ profile.last_name }}
                </h3>

            </div>
                </a>
            <div class="user-rating" align="right">
                {% if profile.avg_rating %}
            	<p>Рейтинг: {{ profile.avg_rating }}/5</p>
                {% else %}
                <p>НЕТ ОТЗЫВОВ</p>
                {% endif %}
            </div>
        </div>
{% empty %}
    <p>Не найдено профилей.</p>
{% endfor %}
</div>

{% endblock %}
