body{
    background-color: While;
}
.features {
    padding: 1em;
    padding: 1em;
    width: 40%;
    margin: auto;
    text-align: center;
}

.object {
    background-color: #808080;
    padding: 1em;
    padding: 1em;
    width: 60%;
    margin: auto;
    text-align: center;
}


.features1 {
    text-align: center;


}
.form-group {
    padding: 1em;
    padding: 1em;
    width: 60%;
    margin: auto;
}

li {
  display: inline-block;
}

.dropdown-menu {
    --bs-dropdown-min-width: 0px;
    }

@media (max-width: 430px) {
    .nav-link {
        padding: 8px;

    }

}
@media (max-width: 432px) {
    .nav-link {
        padding: 8px;
    }
}

@media (max-width: 384px) {
    .nav-link {
        padding: 8px;

    }
}



