body{
    background-color: White;
}
.features {
    padding: 1em;
    padding: 1em;
    width: 60%;
    margin: auto;
    text-align: center;
}
.odject {
    background-color: #808080;
    padding: 1em;
    padding: 1em;
    width: 60%;
    margin: auto;
    text-align: center;
}


.features1 {
    text-align: center;


}
.form-group {
    padding: 1em;
    padding: 1em;
    width: 60%;
    margin: auto;
}









