{% extends 'tasks_app/layout.html' %}

{% block title %}Категории{% endblock %}

{% block content %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.category-button {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: Black;
    padding: 20px 12px;
    margin: 10px;
    border: none;
    border-radius: 16%;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
    border: none;
    width: 286px;
    height: 122px;
    text-decoration: none;
    font-family: Verdana;
    position: relative;
}
        .category-posts {
            display: none;
            text-align: center;
            margin-top: 20px;
        }

        .category-posts.active {
            display: block;
        }

        .category-posts .post {
            padding: 10px;
            border: 1px solid #ccc;
            margin: 5px 0;
        }

        .category-posts .post a {
            color: #3498db;
            text-decoration: none;
        }

        .category-posts .post a:hover {
            text-decoration: underline;
        }


.blink {
    animation: blink 5s infinite;
}

@keyframes blink {
    0%, 49.9%, 100% {
        background-color: #3498db;
    }
    50%, 99.9% {
        background-color: #2980b9;
    }
}
.img_cat{
    margin-right: 10px;
    height: 100px;
    flex-shrink: 0;
     border-radius: 50%;
}

.category-text {
    border-left: 1px solid Black;
    padding-left: 10px;

}
.task_count{
  position: absolute;
  top: 93px;
  right: 7px;
}
    </style>

<body>
<div class="categories">
    <a href="{% url 'tasks_home' %}" class="category-button" data-category="all">
        <span class="category-text">Все категории</span>
    </a>
    {% for category in categories %}
        <a href="{% url 'tasks_home' %}?category={{ category.name }}" class="category-button" data-category="{{ category.name }}">
            {% if category.image %}
                <img class="img_cat" src="{{ category.image.url }}" alt="{{ category.name }}">
            {% endif %}
            <span class="category-text">{{ category.name }}</span>
            {% if category.task_count  %}
            <span class="task_count">Заданий:+ {{ category.task_count }}</span>
            {% else %}
            <span class="task_count">Заданий: 0</span>
{% endif %}
        </a>
    {% endfor %}
</div>

<script>
categoryButtons.forEach((button, index) => {
    button.addEventListener("click", () => {
        const selectedCategory = button.getAttribute("data-category");


        button.classList.add("blink");


        categoryPosts.forEach(post => post.classList.remove("active"));
        const selectedPosts = document.querySelector(`.category-posts.${selectedCategory}`);
        if (selectedPosts) {
            selectedPosts.classList.add("active");
        }
    });
});
</script>

{% endblock %}