{% extends 'tasks_app/layout.html' %}

{% block title %}Форма по добавлению задания{% endblock %}

{% block content %}
<style>
.color-btn_create {
  border: none;
  outline: none;
  background: linear-gradient(90deg, #0045ea, #f0090f);
  padding: 0.9rem 1rem;
  border-radius: 50px;
  color: white;
  font-size: 1.0rem;
  box-shadow: 1px 10px 2rem rgba(255, 94, 98, 0.5);
  transition: all 0.2s ease-in;
  text-decoration: none;

}
.skr {
    display: none;
}
h1, h2{
 color: white;
}
.features{
    border: 1px #000000 solid;
    border-radius: 50px;
}

.features {
      background-color: var(--var-bgcolor);
      color: var(--var-fontcolor);
    }
    :root {
      --var-bgcolor: #fff;
      --var-fontcolor: #000;
    }

    @media (prefers-color-scheme: dark) {
      :root {
        --var-bgcolor: #0B0C10;
        --var-fontcolor: #eee;
      }
      .features {

        border: 1px #ffffff solid;
      }

    }
</style>
    {% if request.user.is_authenticated %}
    <div class="create">
        <div class="features">
            <h1>Форма по добавлению задания</h1>
            <form method="post">
                {% csrf_token %}<br>
                <div class="skr">
                    {{ form.user_name  }}<br>
                </div>
                 <p  style="float: left;">&bull; Пример: Дизайн студии. Помощь по дому. </p>
                {{ form.title }}<br>
                <p  style="float: left;">&bull; Пример: Инструменты. Сменную одежду</p>
                {{ form.anons }}<br>
                <p  style="float: left;">&bull; Укажите номер телефона если нужно</p>
                {{ form.phope }}<br>
                <p  style="float: left;">&bull; Укажите цену за выполненную задачу</p>
                {{ form.prise }}<br>
                <p  style="float: left;">&bull; Напишите подробно о том чем придстоит заниматься</p>
                {{ form.full_text }}
                <div class="categories"><br>
                    <p>&bull; Фухх, ну и духота🥵, осталось выбрать категорию</p>
                    <h2>Выберите категорию:</h2>
                <select name="category">
                    <option value="" selected disabled>Категории</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
                <br>
                <span>{{ error }}</span>
              <button class="color-btn_create" type="submit">Опубликовать</button><br>
            </form>

</div>
    </div>

{% else %}
    <h1>Вы не сможете продолжить, пока не войдёте в свой профиль</h1>
{% endif %}


{% endblock %}