{% extends 'tasks_app/layout.html' %}

{% block title %}Форма по добавлению задания{% endblock %}

{% block content %}
<style>
.color-btn_create {
  border: none;
  outline: none;
  background: linear-gradient(90deg, #0045ea, #f0090f);
  padding: 0.9rem 1rem;
  border-radius: 50px;
  color: white;
  font-size: 1.0rem;
  box-shadow: 1px 10px 2rem rgba(255, 94, 98, 0.5);
  transition: all 0.2s ease-in;
  text-decoration: none;

}
.skr {
    display: none;
}
</style>
    {% if request.user.is_authenticated %}
    <div class="features">
    <h1>Форма по добавлению задания</h1>
    <form method="post">
        {% csrf_token %}<br>
        <div class="skr">
            {{ form.user_name  }}<br>
        </div>
        {{ form.title }}<br>
        {{ form.anons }}<br>
        {{ form.phope }}<br>
        {{ form.prise}}<br>
        {{ form.full_text }}<br>
        <span>{{ error }}</span>
      <button class="color-btn_create" type="submit">Опубликовать</button><br>
    </form>
</div>
        {% else %}
            <h1>Вы не сможете продолжить, пока не войдёте в свой профиль</h1>
{% endif %}


{% endblock %}