{% extends 'tasks_app/layout.html' %}

{% block title %}Чат{% endblock %}

{% block content %}
<style>

    /* Фон белого цвета */
    body {
        background-color: white;
    }

    /* Поле для заполнения текста снизу экрана */
    textarea {
        width: 100%;
        height: 50px; /* Можете изменить высоту по своему усмотрению */
        resize: none;
    }

    /* Мои сообщения справа, а сообщения собеседника слева */
    .message-container {
        display: flex;
        justify-content: flex-end; /* Мои сообщения справа */
        margin-bottom: 10px; /* Отступ между сообщениями */
    }

    .message-container.left {
          justify-content: center;
    }

    /* Стиль для фотографии */
    .profile-pic {
        width: 40px; /* Можете изменить размер по своему усмотрению */
        height: 40px;
        border-radius: 50%; /* Круглое фото */
        margin-right: 10px; /* Отступ между фотографией и текстом сообщения */
    }

    .container_chat {
        padding: 39px;
        margin: 39px;
        background-color: #000000ab;
        border-radius: 88px;
    }

    /* Стили для сообщений */
    .message {
        padding: 10px;
        border-radius: 10px;
        max-width: 70%; /* Максимальная ширина сообщения */
        word-wrap: break-word; /* Перенос длинных слов */
    }

    .message.left {
        background-color: #f2f2f2; /* Цвет фона сообщения собеседника */
        align-self: flex-start;
    }

    .message.right {
        background-color: #4CAF50; /* Цвет фона ваших сообщений */
        color: white; /* Цвет текста */
        align-self: flex-end;
    }
</style>


<h1 class="mb-6 text-3xl">Беседа</h1>
<div class="container_chat">
    <div class="space-y-6">
    {% for message in conversation.messages.all %}
        <div class="p-6 flex {% if message.created_by == request.user %}bg-blue-100{% else %}bg-gray-100{% endif %} rounded-xl">
            <div>
                    <img class="profile-pic" src="{{ message.created_by.profile.profile_picture.url }}">

                <a href="/tasks/profile_user/{{ message.created_by.username }}" style="text-decoration: none; color: inherit;">
                    {{ message.created_by.profile.first_name }} {{ message.created_by.profile.last_name }}
                </a>
                <p>{{ message.content|linebreaks|urlize }}</p>
                <div class="time_mess" align="right">{{ message.created_at|time:"H:i" }}</div>

                <hr>
            </div>
        </div>

    {% endfor %}
</div>
</div>


<form method="post">
    {% csrf_token %}
    <div class="message-container left" style="margin-bottom: 20px;">
        <img class="profile-pic" src="{{ request.user.profile.profile_picture.url }}" style="margin-right: 10px;">
        <div style="display: flex; align-items: center;">
        {{ form.content }}
            <button type="submit" class="send-button" style="background-color: #0040FF; border-radius: 50%; padding: 5px 10px; color: white;">&#8594;</button>
        </div>
    </div>
</form>
{% endblock %}