{% extends 'tasks_app/layout.html' %}

{% block title %}{{ article.title }}{% endblock %}
{% block content %}
    <div class="features alert alert-dark">
        <h1>{{ article.title }}</h1><br>
        <p>{{ article.full_text|linebreaks|urlize  }} </p>
         <p>Цена-{{ article.prise }}₽</p>
       <p>Позвонить заказчику {{ article.phope }}</p>
        <p>Дата публикации {{ article.data }}</p>
        {% if article.user_name == user.username %}
            <a href="{% url 'delete_tasks' article.id %}" class="btn btn-danger">Удалить задания</a>
            <a href="{% url 'update_tasks' article.id %}" class="btn btn-info">Редактировать задания</a>
        {% endif %}
    </div>

{% endblock %}