{% extends 'tasks_app/layout.html' %}

{% block title %}{{ article.title }}{% endblock %}
{% block content %}
<style>
    .blog_post {
        background: #fff;
        border-radius: 10px;
        box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
        margin: 0 auto;
        padding: 20px;
        display: flex;
        flex-direction: row; /* Оставляем горизонтальное расположение */
    }

    .container_copy {
        flex: 1; /* Растягиваем блоки внутри .blog_post для равного распределения места */
        padding: 10px; /* Уменьшаем внутренний отступ для сохранения компактного вида */
    }

    .vertical-line {
        border-left: 1px solid #999;
        margin-left: 20px;
        padding-left: 20px;
    }

    .right-content {
        flex: 1;
        padding: 10px;
    }

@media screen and (max-width: 768px) {
    .blog_post {
        flex-direction: column; /* Переключение на вертикальное расположение на узких экранах */
    }
    .vertical-line {
        display: none; /* Скрытие вертикальной линии на узких экранах */
    }
}
h3, h4, p {
    color: black;
}
hr {

  color: black;
}
</style>
<div class="features">

    <div class="blog_post">
        <div class="container_copy">
            <p>{{ article.full_text|linebreaks|urlize }}</p>
            {% if article.user_name == user.username %}
                <a href="{% url 'delete_tasks' article.id %}" class="btn btn-danger">Удалить задания</a>
                <a href="{% url 'update_tasks' article.id %}" class="btn btn-info">Редактировать задания</a>
            {% endif %}
        </div>

        <div class="vertical-line"></div> <!-- Vertical line to separate content -->

        <div class="container_copy right-content">
            <p>Что взять с собой: ({{ article.anons }})</p>
            <hr>
            <p>Цена: {{ article.prise }}₽</p>
            <hr>
            <p>Связаться: {{ article.phope }}</p>
            <hr>
            <p>Дата публикации: {{ article.data }}</p>
            <hr>
            <a href="{% url 'new' article.id %}" class="btn btn-info">Откликнуться</a>
        </div>
    </div>
</div>

{% endblock %}