{% extends 'tasks_app/layout.html' %}


{% block title %}Задания{% endblock %}


{% block content %}
<style>
.features {
    padding: 1em;
    width: 60%;
    margin: auto;
    border-radius: 10px; /* Добавляем скругление краев */
    text-align: left; /* Выравниваем текст по левому краю */
    box-sizing: content-box;
}

/* Стили для фотографии и информации о пользователе */
.img_pod {
    float: left; /* Размещаем фото слева */
    margin-right: 20px; /* Расстояние между фото и информацией */
    width: 80px; /* Уменьшаем ширину фото */
    height: 80px; /* Уменьшаем высоту фото */
    background: linear-gradient(90deg, #ff9966, #ff5e62);
    border-radius: 50%; /* Создаем круглое фото */
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
}

.profile-pic {
    width: 100%;
    height: 100%;
    border-radius: 50%; /* Круглое фото */
}

/* Стили для заголовка и остальной информации */
h3, h4, p {
    font-size: 0.9rem; /* Уменьшаем размер шрифта для title, prise, anons */
    margin: 12px;
}

a {
    text-decoration: none; /* Убираем подчеркивание ссылок */
    color: #333; /* Цвет текста ссылок */
}

.btn_primary {
    border: none;
    outline: none;
    background: linear-gradient(90deg, #ff9966, #ff5e62);
    padding: 0.7rem 1rem; /* Уменьшаем отступы кнопки */
    border-radius: 50px;
    color: white;
    font-size: 1.0rem;
    box-shadow: 1px 10px 2rem rgba(255, 94, 98, 0.5);
    transition: all 0.2s ease-in;
}

.alert {
    margin-bottom: 20px; /* Добавляем отступ между блоками */
}
@media(max-width: 470px) {
.features {
  padding: 1em;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  text-align: left;
  box-sizing: content-box;
}
h3, h4, p {
  font-size: 0.9rem;
  margin: 4px;
}
}

</style>
<div class="features">
    {% if tasks_all %}
        {% for el in tasks_all %}
            <div class="alert alert-dark" onclick="window.location.href='{% url 'details_tasks' el.id %}'" style="cursor: pointer;">
                <div class="img_pod">
                    <a href="{% url 'user_profile' el.user_name %}">
                        <img class="profile-pic" src="{{ el.author.profile.profile_picture.url }}" alt="Profile Picture">
                    </a>
                </div>
                <a href="{% url 'user_profile' el.user_name %}">{{ el.author.profile.first_name }} {{ el.author.profile.last_name }}</a>

                <h3>Название: {{ el.title }}</h3><br>
                <h4>Цена: {{ el.prise }} ₽</h4>
            </div>
        {% endfor %}
    {% else %}
        <p>Нет задания!</p>
    {% endif %}
</div>


{% endblock %}